body{
    margin:0;
    background: grey;
}
road{
    display:block;
    background-size:100%;
    background-image: url('img/bg-body.jpg');
    background-repeat: repeat-y;
    height:100vh;
    width:25vw;
    position: fixed;
    float: left;

}
score{
    position: fixed;
    left:calc(40% + 15vw);
    display: block;
    text-align: center;
    width: 15vw;
    height:15vh;
    background: black;
    border: 5px solid hsl(240 40% 50%);
    font-size: 1vw;
}
score:nth-child(1){
    border-color: transparent;
}
score:nth-child(2){
    top:15vh;
    height:70vh;
    background: hsl(240 100% 20%);
}
score:nth-child(3){
    border-color: transparent;
    top:calc(85vh + 10px);
    height:15vh;
}
car, enemy{
    position:absolute;
    background-size: contain;
    display:inline-block;
    width:4vw;
    height:12vh;
}



#game{
    width:40%;
    height: 100vh;
    background:grey;
    display: block;
    margin:auto;
}
#player{
    background-image: url('img/eiei.png');
    background-repeat: no-repeat;
    filter: grayscale(20%);
    position:absolute;
    top:80vh;
    left:10vw;
}
enemy:nth-child(4n-3){
    top:-15vh;
    left:1vw;
}
enemy:nth-child(4n-2){
    top:-15vh;
    left:7.25vw;
}
enemy:nth-child(4n-1){
    top:-15vh;
    left:13.5vw;
}
enemy:nth-child(4n){
    top:-15vh;
    left:20vw;
}
p{
    color: white;
    font-size:2vh;
}
#score{
    color: white;
    font-size:7vh;
    font-family: 'digital';
}
p:nth-child(1){
    position: absolute;
    left: 41%
}
slow{
    position: absolute;
    display: block;
    width:14vw;
    height:1vw;
    background:red;
    left: 0.4vw;
}
@font-face {
    font-family: 'digital';
    src: url('font/digital-7.woff2') format('woff2'),
         url('font/digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
