body{
    margin:0;
    background: grey;
}
road{
    display:block;
    background-size:100%;
    background-image: url('img/bg-body.jpeg');
    background-repeat: repeat-y;
    height:100vh;
    width:25vw;
    position: fixed;
    float: left;

}
score{
    position: fixed;
    left:calc(40% + 15vw);
    display: block;
    text-align: center;
    width: 15vw;
    height:25vh;
    background: red;
    font-size: 1vw;
}
score:nth-child(2){
    top:25vh;
    height:50vh;
    background: black;
}
score:nth-child(3){
    top:75vh;
    height:25vh;
    background: red;
}
car, enemy{
    position:absolute;
    display:inline-block;
    width:4vw;
    height:12vh;
    background:red;
}
car{
    background:white;
}

#game{
    width:40%;
    height: 100vh;
    background:grey;
    display: block;
    margin:auto;
}
#player{
    background:pink;
    top:80vh;
    left:10vw;
}
enemy:nth-child(4n-3){
    top:-15vh;
    left:1vw;
}
enemy:nth-child(4n-2){
    top:-15vh;
    left:7.25vw;
}
enemy:nth-child(4n-1){
    top:-15vh;
    left:13.5vw;
}
enemy:nth-child(4n){
    top:-15vh;
    left:20vw;
}